<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="team.name">Blotto</entry>
	<entry key="team.members">Samuel L, Hekar K</entry>
	<entry key="service.port">5000</entry>
	<entry key="service.ip">192.168.1.106</entry>
	<entry key="registry.ip">localhost</entry>
	<entry key="registry.port">3128</entry>
</properties>