<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="team.name">Blotto</entry>
	<entry key="team.members">Samuel L, Hekar K</entry>
	<entry key="service.port">5000</entry>
  <entry key="service.publish.port">5000</entry>
	<entry key="service.ip">127.0.0.1</entry>
	<entry key="registry.ip">127.0.0.1</entry>
	<entry key="registry.port">3128</entry>
  <entry key="soa.log">log/soa.log</entry>
  <entry key="Tag">PAYROLL</entry>
  <entry key="service">payCheckMaker</entry>
  <entry key="ok">OK</entry>
  <entry key="not-ok">NOT-OK</entry>
</properties>